body {
    color: black;
}
.archive__item {
    /* position: relative; */
    padding: 0.5em;
    border: thin solid #ccc;
}

.work .grid__item .archive__item {
    min-height: 13em;
}

.article .grid__item .archive__item {
    min-height: 15em;
}

@media (min-width: 48em) {
    .grid__item .archive__item .archive__item-excerpt {
        font-size: 0.6em;
    }
}

.masthead {
    background-color: #F9D423
}

#site-nav {
    background-color: transparent;
}

#site-nav a,
#site-nav a:visited {
    color: #103966;
}

.grid__item .archive__item-title {
    font-size: 0.9em;
}

a {
    color: #f09f00
}

a:visited {
    color: #da6900
}

.author__urls.social-icons a,
.author__urls.social-icons a:visited,
.page__footer a,
.page__footer a:visited {
    color: #103966;
    font-weight: 700;
}
.author__avatar img {
    height: 110px
}
.sticky {
    top: 4em;
}

.masthead.sticky {
    top: 0;
}
.taxonomy__section {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3em;
}

.taxonomy__section+.taxonomy__section {
    margin-top: 0;
}

.taxonomy__section h3 {
    margin-top: 0;
}
img.avatar {
    float: left;
    width: 30%;
    margin: 0 1em 2em 0;
}


h3,
h3.archive__subtitle {
    clear: both;
    color: #103966;
    font-family: "Waiting for the Sunrise";
    font-size: 1.35em;
}

h3.author__name {

    color: #001933
}

h1,
h2 {
    color: #00a8db;
    font-family: "Rubik";
    font-weight: 700;
}

p,
.sidebar p,
a,
body {
    font-family: "Work Sans";
}

.sidebar .author__name {
    font-family: "Rubik";
}

#site-nav a,
#site-nav a:visited {
    font-family: "Rubik";
}

// a.site-title {
//     font-size: 1.25em;
// }

.sidebar.sticky {
    background-color: #e2f8ff;
    padding: 1em;
    max-height: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0em;
    bottom: 0;
}

.archive__item-teaser {
    border: thin solid #ccc;
    height: 95px;

    img {
        width: 120%;
        max-width: 120%;
        height: 120%
    }
}

#main {
    position: relative;
}

.page__footer {
    margin-top: 0;
}
.page__hero--overlay {
    margin-bottom: 0;
}

.page__hero--overlay .wrapper {
    background-color: #0000007a;
    padding: 1em;
}