.archive__item {
    /* position: relative; */
    padding: 0.5em;
    border: thin solid #ccc;
}

.archive__item-title .permalink {}

h2.archive__item-title.no_toc {
    margin-top: 1em;
    min-height: 3.6em;
    display: inline-block;
}

@media (min-width: 48em) {
    .grid__item .archive__item .archive__item-excerpt {
        font-size: 0.6em;
    }
}

.entries-grid {
    display: inline-block;
}

.masthead {
    background-color: #F9D423
}

#site-nav {
    background-color: transparent;
}

#site-nav a,
#site-nav a:visited {
    color: black;
}

.grid__item .archive__item-title {
    font-size: 0.9em;
}

a {
    color: #ff5900
}

a:visited {
    color: #da6900
}

.sticky {
    top: 4em;
}

.masthead.sticky {
    top: 0;
}
.taxonomy__section {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3em;
}

.taxonomy__section+.taxonomy__section {
    margin-top: 0;
}

.taxonomy__section h3 {
    margin-top: 0;
}
img.avatar {
    float: left;
    width: 30%;
    margin: 0 1em 2em 0;
}


h3,
h3.archive__subtitle {
    clear: both;
    color: #007194;
    font-family: "Waiting for the Sunrise";
    font-size: 1.35em;
}

h3.author__name {

    color: #3b3d3e
}

h1,
h2 {
    color: #009ece;
    font-family: "Rubik";
    font-weight: 700;
}

p,
.sidebar p,
a,
body {
    font-family: "Work Sans";
}

.sidebar .author__name {
    font-family: "Rubik";
}

#site-nav a,
#site-nav a:visited {
    font-family: "Rubik";
}

a.site-title {
    font-size: 1.25em;
}

.sidebar.sticky {
    background-color: #e2f8ff;
    padding: 1em;
    max-height: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0em;
    bottom: 0;
}

.archive__item-teaser {
    border: thin solid #ccc;
    height: 95px;

    img {
        width: 120%;
        max-width: 120%;
        height: 120%
    }
}

#main {
    position: relative;
}

.page__footer {
    margin-top: 0;
}